{% extends "base.html" %}

{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>В этом спринте я продолжил изучать фреймворк Django!
        Составлял сложные запросы к базе данных и выводил на страницы проекта информацию, полученную из БД.
        Познакомился с декораторами — востребованным в Python паттерном, который призван упростить разработку.
        Поработал со встроенной в Django моделью пользователя.
        Настроил постраничный вывод информации.
        Познакомился с контекст-процессором. В ходе этого спринта я расширил проект Yatube, с которым начал работать в прошлом спринте, а также выполнил немало других практических заданий в тренажёре, которые помогли закрепить теорию.
        Финальным заданием стало ещё более глубокая доработка проекта Yatube — нужно было самостоятельно создать новые страницы. </p>
  </article>
</div>
{% endblock %} 